body {
  font-family: "Press Start 2P", system-ui;
  /* font-family: "Rubik", sans-serif; */
  font-optical-sizing: auto;
  font-style: normal;
  background: linear-gradient(-35deg, #04616d, #05193f);
  text-align: center;
  padding: 20px;
  border: 0px;
  color: #3d3d3d;
  min-height: 100vh;
  margin: 0;
}

.container-game {
  /* background-image: url("https://images.pexels.com/photos/7130565/pexels-photo-7130565.jpeg");
  background-size: cover;
  background-position: center; */
  background: linear-gradient(
    -30deg,
    #2faadba2 5%,
    #13439ecc 40%,
    #4f23ca91,
    #7f48e4a1 100%
  );
  border-radius: 20px;
  overflow: hidden;
  max-width: 900px;
  margin: 20px auto;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.game-title {
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.game-body {
  display: flex;
  margin: 10px;
}

.game-body > div {
  flex: auto;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  color: #292929;
  background: linear-gradient(#ffffff, #afafaf);
  transition: background-color 0.3s ease;
}

button:disabled {
  background: linear-gradient(#ffffff, #afafaf);
  color: #666;
  cursor: not-allowed;
}

button:disabled:hover {
  background: linear-gradient(#ffffff, #afafaf);
  color: #666;
  cursor: not-allowed;
}

button:hover {
  background: linear-gradient(#eee, #666);
  color: #292929;
  transition: background-color 0.3s ease;
}
