.container-gambar {
  flex: auto;
  position: relative;
  height: 390px;
  border-radius: 20px;
  margin: 15px;
  background-color: #e1e1e180;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container-input {
  display: flex;
  height: 40px;
  margin: 15px;
  border-radius: 25px;
  overflow: hidden;
  background-color: white;
}

#tebakan {
  /* font-family: "Press Start 2P", system-ui; */
  font-family: "Rubik", sans-serif;
  font-size: 1em !important;
  flex: auto;
  outline: none;
  border: none;
  font-size: 0.8em;
  padding: 10px 20px;
}

#tombol {
  /* font-family: "Press Start 2P", system-ui; */
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 1em;
  width: 100px;
  font-weight: bold;
}

.container-statistik {
  width: 40%;
}

.judul-statistik {
  font-family: "Rubik", sans-serif;
  margin: 20px auto;
  font-weight: lighter;
  color: #f0f0f0;
  letter-spacing: 0.2em;
}

#player-name {
  font-family: "Press Start 2P", system-ui;
  margin: 5px auto 0;
  padding: 5px;
  letter-spacing: normal;
  color: #00ff73;
  font-size: calc(1vw + 0.5em); /* Ukuran font yang dinamis */
}

.label-statistik > div {
  display: flex;
  overflow: hidden;
  border-radius: 25px;
  text-align: left;
  margin: 10px;
  margin-right: 25px;
  background-color: #f0f0f0;
}

.label-statistik .label {
  background-color: #f0f0f0;
  width: 50%;
  padding: 10px;
  padding-left: 20px;
  font-size: 0.8em;
  font-size: calc(1vh + 0.3em);
  line-height: 1.2em;
  margin: auto;
}

.label-statistik .poin {
  flex: auto;
  width: 20%;
  height: fit-content;
  background-color: #cecece;
  padding: 15px;
  color: #019e23;
  font-size: calc(2vh, 1.2em);
  font-weight: bold;
  border-radius: 25px;
  margin: auto;
  text-align: center;
}

.label-statistik #high-score,
#high-level {
  color: #ce1d1d;
}

#gameover,
#winner {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
}

#champion-gif {
  display: none;
  position: absolute;
  transform: translateX(-50%);
  pointer-events: none;
  left: 50%;
}

#gameover {
  color: #ce1d1d;
  margin: 70px 10px !important;
  line-height: 1.5em;
}

#winner {
  color: #1dce43;
  margin: 10px 10px !important;
}

#feedback-message {
  font-family: "Rubik", sans-serif;
  width: 550px;
  margin: 5px auto;
  padding: 5px;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none;
}

#gameover-feedback {
  font-family: "Rubik", sans-serif;
  width: 450px;
  margin: 5px auto;
  padding: 5px;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none;
}

.correct {
  background-color: #0ea04b;
  color: #f0f0f0;
}

.incorrect {
  background-color: #ce1d1d;
  color: #f0f0f0;
}

@media only screen and (max-width: 600px) {
  #tebakan {
    /* font-family: "Press Start 2P", system-ui; */
    font-family: "Rubik", sans-serif;
    font-size: 1em !important;
    flex: auto;
    outline: none;
    border: none;
    font-size: 0.7em;
    padding: 20px;
  }

  #tombol {
    /* font-family: "Press Start 2P", system-ui; */
    font-family: "Rubik", sans-serif;
    font-size: 1em !important;
    text-align: center;
    font-size: 0.7em;
    width: 100px;
    font-weight: bold;
  }
  .container-game {
    width: 100%;
    margin: 10px auto;
  }

  .game-body {
    display: block;
  }

  .game-body > div {
    width: 95%;
    margin: 20px auto;
  }

  .container-statistik {
    display: block;
  }

  .judul-statistik {
    text-align: center;
    letter-spacing: normal;
    margin: 10px auto;
    font-size: 1.2em;
  }

  .label-statistik {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .label-statistik > div {
    flex-direction: column;
    padding: 0;
    margin: 5px;
  }

  #player-name {
    letter-spacing: normal;
    color: #00ff73;
    font-size: calc(1vh + 0.5em);
  }

  .label-statistik .label {
    font-size: 0.7em;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .label-statistik .poin {
    font-size: 1.2em;
    text-align: center;
    padding: 10px 0;
    font-style: italic;
    flex: auto;
    width: 95%;
    margin: 0 auto;
    justify-content: center;
  }

  .label-statistik #nyawa {
    font-style: normal;
  }

  .nyawa-baris {
    grid-column: 1 / -1;
    flex-direction: column;
  }

  #feedback-message,
  #gameover-feedback {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .container-input {
    display: flex;
    width: 90%;
    height: 40px;
    margin: 15px auto;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
  }

  #tebakan {
    /* font-family: "Press Start 2P", system-ui; */
    font-family: "Rubik", sans-serif;
    width: 80%;
    flex: auto;
    outline: none;
    border: none;
    font-size: 0.7em;
    padding: 20px;
  }

  #tombol {
    /* font-family: "Press Start 2P", system-ui; */
    font-family: "Rubik", sans-serif;
    width: 20%;
    text-align: center;
    font-size: 0.7em;
    width: 100px;
    font-weight: bold;
  }

  .container-game {
    width: 100%;
    margin: 10px auto;
  }

  .game-body {
    display: block;
  }

  .game-body > div {
    width: 95%;
    margin: 20px auto;
  }

  .container-statistik {
    display: block;
  }

  .judul-statistik {
    text-align: center;
    letter-spacing: normal;
    margin: 10px auto;
  }

  .label-statistik {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .label-statistik > div {
    flex-direction: column;
    padding: 0;
    margin: 5px;
  }

  .label-statistik .label {
    font-size: 0.5em;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .label-statistik .poin {
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
    font-style: italic;
  }

  .label-statistik #nyawa {
    font-style: normal;
  }

  .nyawa-baris {
    grid-column: 1 / -1;
    flex-direction: column;
  }

  #feedback-message,
  #gameover-feedback {
    width: 90%;
  }
}
