.game-body {
  display: block !important;
}

div .sub-title {
  color: aliceblue;
  text-align: center;
  margin: 30px auto;
  font-size: 1.2em;
}

.option {
  display: block;
  margin: 15px;
  margin-top: 0;
}

.option > div {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  margin: 15px auto;
}

.option .player-text {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  padding: 0 0 10px 0;
  text-align: center;
}

.container-new-game {
  display: flex;
  height: 35px;
  font-family: "Rubik", sans-serif;
  font-size: 1em !important;
  border-radius: 20px;
  margin: 5px auto !important;
}

#player-name-input {
  border: none;
  outline: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 15px;
  font-size: 1em;
  background: linear-gradient(#afafaf, #eeeded);
}

#mulai-game-button {
  flex: auto;
  border: none;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  max-width: 100px;
}

.container-continue {
  overflow: hidden;
  max-width: 550px;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 1em !important;
  height: 35px;
  border-radius: 20px;
  background-color: aliceblue;
  justify-content: center;
}

#continue-text {
  margin: auto;
  padding: 7px;
  text-align: center;
  background-color: aliceblue;
}

#continue-game-button {
  flex: auto;
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  height: 35px;
  width: 20%;
  max-width: 100px;
  border-radius: 25px;
}

#continue-game-button:disabled {
  height: 35px;
  border-radius: 25px;
  background: linear-gradient(#ffffff80, #afafaf78);
  color: #666;
  cursor: not-allowed;
}

.top-score {
  width: 60%;
  border-radius: 20px;
  background-color: #ffffff2d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  font-size: 0.8em;
  margin: 25px auto 25px;
  padding: 20px 30px 10px;
}

.title-top-score {
  font-size: 1.2em !important;
  color: aliceblue !important;
}

.top-score-list {
  overflow: hidden;
  margin: 10px auto 10px;
  padding: 0 20px;
}

.top-score-list > div {
  display: flex;
  background-color: aliceblue;
  border-radius: 25px;
  overflow: hidden;
  margin: 10px auto;
}

.top-score-list .player-name {
  width: 70%;
  text-align: left;
  margin: auto 5px;
  font-size: calc(1vh + 0.5em);
  padding: 0 0 2px 5px;
}

.top-score-list .player-score {
  width: 20%;
  background-color: #b7b7b7;
  color: #292929;
  flex: auto;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  margin: auto 5px;
  margin-right: 0;
}

.medal,
.medal-one {
  font-size: 1.3em;
  transform: scale(1.1);
  background-color: #ffffff;
  border-radius: 20px;
  padding: 2px 2px 8px;
  margin: auto;
}

/* TOP SKOR 1 //////////////////////////////////////*/
.top-one {
  background-color: gold !important;
  padding: 3px 0;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: calc(1vh + 0.5em);
}

.top-score-list > .top-one .player-name {
  color: #292929;
  font-size: calc(1vh + 0.5em);
  margin: auto 5px;
}

.top-score-list > .top-one .player-score {
  background-color: #b2840f;
  color: aliceblue;
  font-size: 1.5em;
  margin: auto 4px;
}
/* TOP SKOR 1 //////////////////////////////////////*/

@media only screen and (max-width: 600px) {
  #player-name-input {
    font-size: 0.9em;
  }

  #mulai-game-button {
    font-size: 0.9em;
  }

  .container-continue {
    overflow: hidden;
    max-width: 700px;
    width: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 0.9em !important;
    height: 60px;
    border-radius: 20px;
    background-color: aliceblue;
    justify-content: center;
  }

  #continue-text {
    margin: auto;
    padding: 7px 15px;
    text-align: center;
    background-color: aliceblue;
  }

  #continue-game-button {
    width: 30%;
    max-width: 80px;
    justify-content: center;
    margin: auto;
    margin-right: 10px;
    padding: 0 10px;
  }

  .top-score {
    width: 80% !important;
    border-radius: 20px;
    background-color: #ffffff2d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    margin: 25px auto 10px;
    padding: 20px;
    padding-bottom: 0;
    font-size: 0.8em;
  }

  .title-top-score {
    font-size: 1.2em !important;
  }

  .top-score-list {
    overflow: hidden;
    margin: 15px auto;
    padding: 5px;
  }

  .top-score-list > div {
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    margin: 10px auto;
  }

  .top-score-list .player-name {
    width: 60%;
    text-align: left;
    padding: 10px;
    padding-left: 10px;
  }

  .top-score-list .player-score {
    background-color: rgb(219, 218, 218);
    flex: auto;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    margin: auto 5px;
  }

  .top-score-list > .top-one .player-score {
    flex: auto;
    border-radius: 30px;
  }

  /* TOP SKOR 1 //////////////////////////////////////*/
  .top-one {
    background-color: gold !important;
    padding: 3px 0;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: calc(1vh + 0.5em);
  }

  .top-score-list > .top-one .player-name {
    color: #292929;
    font-size: calc(1vh + 0.5em);
    margin: auto 5px;
  }

  .top-score-list > .top-one .player-score {
    background-color: #b2840f;
    color: aliceblue;
    font-size: 1.5em;
    margin: auto 5px;
  }
}

@media only screen and (max-width: 500px) {
  #continue-text {
    margin: auto;
    padding: 7px 15px;
    text-align: center;
    background-color: aliceblue;
  }

  #continue-game-button {
    width: 30%;
    max-width: 80px;
    justify-content: center;
    margin: auto;
    margin-right: 10px;
    padding: 0 10px;
  }

  .top-score-list > div {
    border-radius: 20px;
  }

  .top-one {
    border-radius: 50px !important;
  }

  .top-score {
    width: 80% !important;
    border-radius: 20px;
    background-color: #ffffff2d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    margin: 25px auto 10px;
    padding: 20px;
    padding-bottom: 0;
  }

  .top-score-list .player-name {
    width: 60%;
    text-align: left;
    padding: 10px;
    padding-left: 10px;
    font-size: 1.2vh !important;
  }

  .top-score-list .player-score {
    background-color: rgb(219, 218, 218);
    flex: auto;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    border-radius: 15px;
  }

  .top-score-list > .top-one .player-score {
    flex: auto;
    padding-left: 15px;
    margin: auto 4px 0 !important;
    border-radius: 20px !important;
  }

  .medal-one {
    margin: auto 5px !important;
    padding: 4px 4px 8px !important;
    font-size: 1.8vh;
  }

  .medal,
  .medal-one {
    transform: none !important;
    background-color: none !important;
    padding: none !important;
    margin: auto !important;
  }
}
